* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none !important;
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 1400px;
}

.container-fluid {
    padding: 0 20px 0 20px !important;
}

#page-name {
    font-weight: bold;
    font-size: 2rem;
}

.main-image {
    width: 100%;
    height: 200px;
}

.search-box {
    width: 100%;
    padding: 10px;
}

input {
    width: 100%;
}

.video-list img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.video-box {
    width: 100%;
}

